<!DOCTYPE html><html>
<head>
  <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="/css/contact.css">
<title>main</title>
</head>
<body>

    <!-- <div class="container"> -->
    <div class="row">
        <div class="navbar-container col col-md-2">
            <div class="nav">
                <nav class="en">
                    <a id="brand-img" href="/"><b>&lt; S &gt;</b></a>
                    <a class="hvr-grow" href="/">Home</a>
                    <a class="hvr-grow" href="/projects">Projects!</a>
                    <a class="hvr-grow" href="/about">About</a>
                    <a class="hvr-grow" href="/contact">Contact</a>
                </nav>
                <a class="hvr-grow" href="https://twitter.com/stevenlian1994" target="_blank"><i style="font-size:24px" class="fa">&#xf099;</i></a>
                <a class="hvr-grow" href="https://github.com/stevenlian1994" target="_blank"><i style="font-size:24px" class="fa">&#xf09b;</i></a>
                <a class="hvr-grow" href="#" target="_blank"><i style="font-size:24px" class="fa">&#xf0e1;</i></a>        
            </div> 
        </div>

        <div class="form-container col col2 col-md-5">
            <div class="text-area">
            	<div class="msg-container">
	            	<% if(msg && msg.length > 0){ %>
				 		<%=msg%>
				    <% } %>            		
            	</div>

       
                <h1 class="text-area-header">Contact Me</h1>
                <form method="POST" action="send">
					<input id="name-container" type="text" name="name" placeholder="Name">
					<input id="email-container" type="email" name="email" placeholder="Email">
					<input id="subject-container" type="text" name="subject" placeholder="Subject">
					<textarea id="message-container" class="form-control" name="message" rows="3" placeholder="Message"></textarea>
					<button id="send-button">Send</button> -->
                </form>
            </div>
        </div>

        <div id="map-container" class="col col3 col-md-5"></div>
 		
 		<div id="over_map" class="col col3 col-md-5">Hello</div>
 		




<!--<div id="map-container"></div>-->

        <script>
        

      
          function initMap() {
            var options = {
                zoom:9,
                center:{lat: 34.1336, lng: -117.9076}
            }
            
            var labels = 'S';
		    var labelIndex = 0;

            //New map
            var map = new google.maps.Map(document.getElementById('map-container'), options);
            
            //Add marker
            var marker = new google.maps.Marker({
              position:{lat:33.8366,lng:-117.9143},
              label: labels[labelIndex++ % labels.length],
              map:map
            });
            
   //         var contentString = '<div id="content">'+
			//   '<div id="siteNotice">'+
			//   '</div>'+
			//   '<h1 id="firstHeading" class="firstHeading">Uluru</h1>'+
			//   '<div id="bodyContent">'+
			//   '<p><b>Uluru</b>, also referred to as <b>Ayers Rock</b>, is a large ' +
			//   'sandstone rock formation in the southern part of the '+
			//   'Northern Territory, central Australia. It lies 335&#160;km (208&#160;mi) '+
			//   'south west of the nearest large town, Alice Springs; 450&#160;km '+
			//   '(280&#160;mi) by road. Kata Tjuta and Uluru are the two major '+
			//   'features of the Uluru - Kata Tjuta National Park. Uluru is '+
			//   'sacred to the Pitjantjatjara and Yankunytjatjara, the '+
			//   'Aboriginal people of the area. It has many springs, waterholes, '+
			//   'rock caves and ancient paintings. Uluru is listed as a World '+
			//   'Heritage Site.</p>'+
			//   '<p>Attribution: Uluru, <a href="https://en.wikipedia.org/w/index.php?title=Uluru&oldid=297882194">'+
			//   'https://en.wikipedia.org/w/index.php?title=Uluru</a> '+
			//   '(last visited June 22, 2009).</p>'+
			//   '</div>'+
			//   '</div>';
			
			// var infowindow = new google.maps.InfoWindow({
			// content: contentString
			// });
			
			// var marker = new google.maps.Marker({
			// position:{lat:33.8366,lng:-117.9143},
			// map: map,
			// title: 'Uluru (Ayers Rock)'
			// });
			// marker.addListener('click', function() {
			// infowindow.open(map, marker);
			// });

          }
        </script>
        <script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBObcdmmcn8rIrrAxqVREGMP058QbP5uho&callback=initMap">
        </script>
    </div>

</body>
</html>