<% include partials/header.ejs %>



		<div class="col-lg-10">
 				<div id="main">
					<!-- name and introduction -->
					<div class="name-container">
						<div>Hi I'm Steven,</div>
						<div>up n' coming web developer.</div>
					</div>
					<!-- coding languages -->
					<div class="skills-container"> HTML/CSS/JAVASCRIPT</div>
					<div class="skills-container"> RUBY ON RAILS</div>
					<div class="skills-container"><a class="btn btn-info" href="/contact">Contact Me</a></div>
				</div>
			</div>
 		</div>

<script src="projects.js"></script>
<% include partials/footer.ejs %>