<% include partials/header.ejs %>



		<div class="col-lg-10">
 				<div id="main">
					<div class="name-container">Upcoming Projects</div>
		            <div class="name-container"> <a href="#">To-do List</a>
				</div>
			</div>
 		</div>




<% include partials/footer.ejs %>