/*PAGE SETUP*/
html, body, .row {
    height:100%;
    width: 100%;
    margin: 0;
    padding: 0;
}
.col {
    height: 100%;
    padding: 0;
}

/*BODY CONTAINERS*/
    .body-container{
        background-color: grey;
        font-family: 'Raleway', sans-serif;
        color: beige;
        background-image: url('https://images.unsplash.com/photo-1505238680356-667803448bb6?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=1080&fit=max&s=e60e6ea435b823e97d18140afb420489');
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-position: center;
        background-color: #E8E8EA;
        background-size: cover;
        height: 100%;
    }
        .navbar-container{
            background-color: #7FDBFF;
            height: 100%;
            text-align: center;
        }

        
        /* Navbar CSS */
        .nav {
            height: 100%; /* 100% Full-height */
            text-align:center;
            position: relative; /* Stay in place */
            z-index: 1; /* Stay on top */
            top: 0;
            left: 0;
            background-color: #111; /* Black*/
            overflow-x: hidden; /* Disable horizontal scroll */
            padding-top: 30px; /* Place content 60px from the top */
            transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
        }
        
        #brand-img {
            color: beige;
            margin-bottom: 50%;
        }
        
        /* The navigation menu links */
        .nav a {
            padding: 8px 8px 8px 32px;
            text-decoration: none;
            font-size: 25px;
            color: #818181;
            display: block;
            transition: 0.3s
        }
        
        .nav a:hover, .offcanvas a:focus{
            /*color:#08fdd8;*/
            color: beige;
        }
        
        /*HOVER CSS*/
        
        /* Grow */
        .hvr-grow {
            display: inline-block;
            vertical-align: middle;
            transform: translateZ(0);
            box-shadow: 0 0 1px rgba(0, 0, 0, 0);
            backface-visibility: hidden;
            -moz-osx-font-smoothing: grayscale;
            transition-duration: 0.3s;
            transition-property: transform;
        }
        
        .hvr-grow:hover,
        .hvr-grow:focus,
        .hvr-grow:active {
            transform: scale(1.1);
        }
        
        .main {
            padding-right:50%;
            padding-top:10%;
            margin: 20px;
        }
        
            
            .introduction-container, .projects-container {
            	color:beige;
            	position: relative;
                left: 0;
                top: 50%;
                width: 100%;
                text-align: center;
                font-size: 50px;
                text-align: left;
            }
            
            .skills-container {
            	color:beige;
            	position: relative;
                left: 0;
                top: 50%;
                width: 100%;
                font-size: 25px;
            
            }
            
            
            .project-thumbnail-container {
                top: 50%;
                margin: 25px;
                text-align:center;

            }
            
            .about-container {
                /*top:200px;*/
                background-color: #222;
                color: beige;
                padding:2% 2%;
                
                 
            }
            
                .about-text-container {
                    top:200px;
                    position: absolute;
                }
            
                    .about-header-container {
                       
                    }
                    
                    .about-body-container {
                       
                    }

.url-container {
    background-color: beige;
    width: 80%;
    height: 40px;
}

.container-label {
    color:beige;
}



.container-form {
    padding-top: 5%;
}

.form-control {
    width: 300px;
}

.caption {
    color:beige;
}


