/*PAGE SETUP*/
html, body, .row {
    height:100%;
    width: 100%;
    margin: 0;
    padding: 0;
}
    .col {
        margin: 0;
        padding: 0;
    }
/*BODY CONTAINERS*/
    .navbar-container{
        background-color: #7FDBFF;
        height: 100%;
        text-align: center;
    }
/*FOLDED NAV CODE*/
        .nav {
            height: 100%; 
            text-align: center;
            position: relative; /* Stay in place */
            z-index: 1; /* Stay on top */
            top: 0;
            left: 0;
            background-color: #111; /* Black*/
            overflow-x: hidden; /* Disable horizontal scroll */
            padding-top: 30px; /* Place content 60px from the top */
            transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
        }

        #brand-img {
            color: white;
            margin-bottom: 50%;
        }

        /* The navigation menu links */
        .nav a {
            padding: 8px 8px 8px 32px;
            text-decoration: none;
            font-size: 25px;
            color: #818181;
            display: block;
            transition: 0.3s
        }

        /* When you mouse over the navigation links, change their color */
        /*.sidenav a:hover, .offcanvas a:focus{*/
            /*color: #f1f1f1;*/
        /*    color: red;*/
        /*}*/

        .nav a:hover, .offcanvas a:focus{
            /*color:#08fdd8;*/
            color: beige;
        }

    .form-container{
        background-color: #222;
        height: 100%;
        text-align: center;        
    }

        .text-area{
            position: absolute;
            left: 10%;
            top: 20%;
            width: 70%;
            vertical-align: middle;
            display: table-cell;
            max-height: 90%;
            background-color: #222;  
        }
            .text-area-header {
                color: beige;
            }
            #name-container{
                /*width: 49%;
                float:left;
                margin: 1%;*/
                float:left;

                    width: 49%;
                border: 0;
                background: #37393b;
                height: 50px;
                font-size: 16px;
                color: beige;
                padding: 0 20px;
                box-sizing: border-box;
            }
            #email-container{
            /*    width:49%;
                float:left;
                margin: 1%; */
                float:left;
                width: 49%;
                margin-left:2%;
                border: 0;
                background: #37393b;
                height: 50px;
                font-size: 16px;
                color: #8d8d8d;
                padding: 0 20px;
                box-sizing: border-box;
            }
            #subject-container{
                float:left;
                margin:2% 0;
                width:100%;
                border: 0;
                background: #37393b;
                height: 50px;
                font-size: 16px;
                color: #8d8d8d;
                padding: 0 20px;
                box-sizing: border-box;
            }
            #message-container{
                float:left;
                margin:2% 0;
                width:100%;
                border: 0;
                background: #37393b;
                height: 50px;
                font-size: 16px;
                color: #8d8d8d;
                padding: 0 20px;
                box-sizing: border-box;
                min-height:150px;
                resize: vertical;
            }

            #send-button{
                    color: #08fdd8;
                font-size: 11px;
                letter-spacing: 3px;
                font-family: "Open Sans",sans-serif;
                text-decoration: none;
                padding: 8px 10px;
                border: 1px solid #08fdd8;
                float: left;
                border-radius: 4px;
                background: transparent;
                text-transform: uppercase;
                float: right;
                text-align: center;
                margin-right: 10px;
            }
            
    #wrapper {
        position: relative;
        /*opacity: 0;*/
        z-index: -1;
    }
            
    #map-container{
        background-color: grey ;
        height: 100%;
        text-align: center;   
        /*z-index: -1;*/
        
    }
        /*.over_map{*/
        /*    position: absolute; */
        /*    top: 10px; */
        /*    left: 10px; */
        /*    z-index: 99;*/
            /*position: absolute;*/
        /*    background: black;*/
            /*top: 50px;*/
            /*right: 30%;*/
            /*z-index: 999999;*/
            /*width: 230px;*/
            /*padding: 20px;*/
            /*color: #fff;*/
            /*font-family: "Open Sans","Helvetica",Arial,sans-serif;*/
            /*font-size: 17px;*/
            /*font-weight: 300;*/
            /*opacity: 0;*/

        /*}*/
